################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week1- Fundamentals & Setup Focus/Day5 ASPNET Core MVC Basics/DemoASPNETCoreMVCApp/.vs/DemoASPNETCoreMVCApp
/Week1- Fundamentals & Setup Focus/Day5 ASPNET Core MVC Basics/DemoASPNETCoreMVCApp/bin/Debug/net8.0
/Week1- Fundamentals & Setup Focus/Day5 ASPNET Core MVC Basics/DemoASPNETCoreMVCApp/obj
/Week1- Fundamentals & Setup Focus/Day5 ASPNET Core MVC Basics/DemoASPNETCoreMVCApp/.vs/ProjectEvaluation/demoaspnetcoremvcapp.metadata.v9.bin
/Week1- Fundamentals & Setup Focus/Day5 ASPNET Core MVC Basics/DemoASPNETCoreMVCApp/.vs/ProjectEvaluation/demoaspnetcoremvcapp.projects.v9.bin
/Week1- Fundamentals & Setup Focus/Day5 ASPNET Core MVC Basics/DemoASPNETCoreMVCApp/.vs/ProjectEvaluation/demoaspnetcoremvcapp.strings.v9.bin
/Week1- Fundamentals & Setup Focus/Day6 ASPNET Core Routing/ASPNETCoreMVCWIthRouting/obj
/Week1- Fundamentals & Setup Focus/Day6 ASPNET Core Routing/ASPNETCoreMVCWIthRouting/.vs/ASPNETCoreMVCWIthRouting
/Week1- Fundamentals & Setup Focus/Day7 Practice ToDoFullstackApp/ToDoFullStackApp/.vs/ToDoFullStackApp
/Week1- Fundamentals & Setup Focus/Day7 Practice ToDoFullstackApp/ToDoFullStackApp/ToDoFullStackApp.Server/bin/Debug/net8.0
/Week1- Fundamentals & Setup Focus/Day7 Practice ToDoFullstackApp/ToDoFullStackApp/ToDoFullStackApp.Server/obj
/Week1- Fundamentals & Setup Focus/Day7 Practice ToDoFullstackApp/TodoAppFullstack/.vs/TodoAppFullstack
/Week1- Fundamentals & Setup Focus/Day7 Practice ToDoFullstackApp/TodoAppFullstack/bin/Debug/net8.0
/Week1- Fundamentals & Setup Focus/Day7 Practice ToDoFullstackApp/TodoAppFullstack/obj
*.bin
/Week2-  API  Integration Focus Learn to create and consume Web APIs/Day 8 Create ASPNET Core Web API/BeginnerASPNETCoreWebAPI/.vs/BeginnerASPNETCoreWebAPI
/Week2-  API  Integration Focus Learn to create and consume Web APIs/Day 8 Create ASPNET Core Web API/BeginnerASPNETCoreWebAPI/bin/Debug/net8.0
/Week2-  API  Integration Focus Learn to create and consume Web APIs/Day 8 Create ASPNET Core Web API/BeginnerASPNETCoreWebAPI/obj
/Week2-  API  Integration Focus Learn to create and consume Web APIs/Day 8 Create ASPNET Core Web API/ProductApi/.vs/ProductApi
/Week2-  API  Integration Focus Learn to create and consume Web APIs/Day 8 Create ASPNET Core Web API/ProductApi/bin/Debug/net8.0
/Week2-  API  Integration Focus Learn to create and consume Web APIs/Day 8 Create ASPNET Core Web API/ProductApi/obj
/Week2-  API  Integration Focus Learn to create and consume Web APIs/Day 8 Create ASPNET Core Web API/WebAPITopicsForExpertLevel/.vs/WebAPITopicsForExpertLevel
/Week2-  API  Integration Focus Learn to create and consume Web APIs/Day 8 Create ASPNET Core Web API/WebAPITopicsForExpertLevel/bin/Debug/net8.0
/Week2-  API  Integration Focus Learn to create and consume Web APIs/Day 8 Create ASPNET Core Web API/WebAPITopicsForExpertLevel/obj
/Week2-  API  Integration Focus Learn to create and consume Web APIs/Day 8 Create ASPNET Core Web API/WebAPITopicsForExpertLevel/ProductApi.Tests/obj
